@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.router-link-active {
  @apply font-bold;
}